<div class="white-background">
<h2>Profile</h2>

<%= form_for :profile, method: :put, url: profile_path(current_user),:html => {:multipart => true} do |f| %>
	<div class="label_tag">
		Photo
		<%= image_tag @user.image_url, class: "icon_edit left_margin_10px" %>
	</div> 
	
	<%= f.file_field :image_url %><br/><br/><br/><br/>

	<div class="profile_element">
		<div class="label_tag">
		Name
	</div>
  	<%= f.text_field :name, class: 'left_margin_10px', value:  current_user.name  %>
  </div>

 	<div class="profile_element">
 	 	<%= f.submit "Update profile",class: "btn btn-primary" %>
  </div>
<% end %>
</div>