
<li class="one-comment">
  <div class="picture">
	<%= image_tag comment.author.image_url, class: "icon_small" %>
	</div>
  <div class="infos">
  <div class="info little-gray">
		<%= link_to comment.author.name, profile_path(comment.author) %>
    <%= time_ago_in_words comment.updated_at %> ago
    	<div class="edit_remove">
      <% if current_user != comment.author %>
        <a href="" class= "reply"><%= image_tag "reply.png", class: "status" %></a>
      <% end %>
      <% if comment.author == current_user %>
    		<a href="<%= comment_path(comment) %>" data-method="delete"><%= image_tag "delete.png",class: "status" %></a>
      <% end %>
    	</div>
    </div>
	<div class="comment-content"><%= comment.content_html.html_safe %></div>
  </div>
</li>
