<div class="white-background">
<ul class="nav nav-pills">
	<% Catalog.all.each_with_index do |catalog,index|%>
		<% if params[:catalog].to_i == index %>
			<li class="active"><a href="#"><%= catalog.name %></a></li>
		<% else %>
			<li><%= link_to catalog.name, controller: "home", action: "index", catalog: index %></li>
		<% end %>
	<% end %>
</ul>

<ul class="topics">
	<% topics = Catalog.all[params[:catalog].to_i].topics %>
	<% topics.each do |topic| %>
		<li class="topic"><a href="go/<%= topic.name %>" class="topic_a"><%= topic.name %></a></li>
	<% end %>
</ul>

<% @posts = filter_posts_with_current_catalog @all_posts %>

<% if @posts.empty? %>
	<p class="no_post">Sorry,there is no posts</p>
<% else %>
	<%= render @posts %>
<% end %>
</div>




