<div class="white-background">
<p class="form-title bold">Sign in</p>

<div class="offset2">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
  	<div class="bold">Email:</div> 
    <%= f.input :email, :required => false,  input_html:{class: "input-box"}, label: false,:autofocus => true %>
    <div class="bold">Password:</div> 
    <%= f.input :password, input_html:{class: "input-box"}, label: false, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in", class: "btn btn-primary " %>
  </div>
<% end %>

<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

<%= render "devise/shared/links" %>
</div>
</div>
