<li class="one_piece_post_index">
	<%= image_tag post.author.image, class: "icon_small" %>

	<p class="index_post_title"><a href="<%= post_path(post) %>"><%= post.title %></a></p>

	<p class="little_gray">
		<a href="<%= post_path(post) %>"><span class="badge pull-right"><%= post.comments.size %></span></a>
		<%= link_to post.topic.name, "go/"+post.topic.name %>  <%= link_to post.author.name, "#" %> updated at <%= time_ago_in_words post.updated_at %> ago
	</p>
</li>

