<div class="white-background">
	<p class="form-title bold"><%= @action %> post</p>
	<div class="offset2">
	<%= simple_form_for @post do |f| %>
		<div class="bold">Topic:</div> 
		
		<% parameters = get_url_params(request.original_url) %>

		<%= f.select :topic_id, options_for_select(generate_nested_topics(Topic),parameters["topic"]||@topic_id),{}, {class: "form-control input-box"}%>

		<div class="bold">Title:</div> 

 		<%= f.input :title, input_html:{class: "input-box form-control"}, label: false, placeholder: 'Title' %>
	  
	  <div class="bold">Content:</div> 
	  <%= f.input :content,as: :text, label: false, placeholder: 'Content...' %>
	  <div class="form-actions">
    	<%= f.button :submit, "Submit" , class: "btn btn-primary "%>
  	</div>
	<% end %>

	
	  
	
</div>
</div>