<div class="white-background">
<%= image_tag @post.author.image, class: "icon_big" %>
<p class="entire_post_title"><%= @post.title %></p>
<p class="little_gray">
	<%= link_to @post.topic.name, root_path+"go/"+@post.topic.name %> <%= @post.author.name %> updated at <%= time_ago_in_words @post.updated_at %> ago 
	<%= link_to "delete", post_path(@post), method: :delete%>
	<%= link_to "edit", edit_post_path(@post) %>
</p>

<p class="post_content"><%= @post.content %></p>

	<div class="comments_list">
		<% if @comments.empty? %>
			<p>This comment has not yet comments</p>
		<% else%>
				<%= render @comments %>
		<% end %>
	</div>
</div>
<%= render "comment_module" %>
