<div class="white-background">
<%= image_tag @post.author.image, class: "icon_big" %>
<p class="entire_post_title"><%= @post.title %></p>
<p class="little-gray">
	<%= link_to @post.topic.name, root_path+"go/"+@post.topic.name %> <%= @post.author.name %> updated at <%= time_ago_in_words @post.updated_at %> ago

	<% if @post.author == current_user %>

	<a href="<%= edit_post_path(@post) %>"><%= image_tag "edit.png", class: "edit_icon" %></a>
	<a href="<%= post_path(@post) %>" data-method="delete"><%= image_tag "delete.png", class: "status" %></a>


	<% end %>
</p>

<p class="post_content"><%= @post.content_html.html_safe %></p>

	<div class="comments_list">
		<% if @comments.empty? %>
			<p class="no_comment">没有评论</p>
		<% else%>
        <p class="comments-status">共有<%= @comments.size %>条评论</p>
				<%= render @comments %>
		<% end %>
	</div>
</div>
<%= render "comment_module" %>
