<%= image_tag @post.author.image_url, class: "icon_big" %>
<p class="entire_post_title"><%= @post.title %></p>
<p class="little_gray">
	<%= link_to "type", "#" %> <%= @post.author.name %> updated at <%= time_ago_in_words @post.updated_at %> ago 
	<%= link_to "delete", post_path(@post), method: :delete%>
	<%= link_to "edit", edit_post_path(@post) %>
</p>

<p class="post_content"><%= @post.content %></p>


<%= render "comment_module" %>
