<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<p ><%= notice %></p> 
<p class="alert"><%= alert %></p>

<div class="container">
	<div class="col-7 col-sm-7 col_lg-7">
		<%= yield %>
	</div>

	<div class="btn-group">
  <button type="button" class="btn btn-success" onClick="parent.location='<%= new_post_path(Post.new, topic: '0') %>'">New Post</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>	
  <ul class="dropdown-menu" role="menu">
    <% Topic.each_with_index do |topic, index|%>
    	<li><%= link_to topic.name, new_post_path(Post.new, topic: index), class: 'new_post' %></li>
		<% end %>
  </ul>
</div>

</div>

<%= render "layouts/footer" %>

</body>
</html>
